

body {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/998c1c50-6aaa-4795-ab62-9190a025d529/b9883521-f439-4c16-b5eb-b1719e2fece1/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    color : white ;
}

#container {
    padding: 40px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
}

span {
    color : red;
}

#name,
#age,
#email,
#content-type {
    padding: 16px;
    width: 500px;

}

#comment {
    width : 500px ;
    
}

#submit {
    font-size : larger;
    margin: 16px 0px 16px 150px;
    
    /* height: 45px;
    width: 160px;
    border-radius: 50px;
    border: none;
    background-color: red;
    color:white;
    cursor: pointer; */
  }
  #submit:hover {
    background: white;
    color: red;
  }
