/* Bu Dosya style dosyasıdır*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: lower-alpha;
}

#para1 {
    border: 5px solid red;
    padding: 10px;

}

.h2tags {
    font-size: 56px;
}