#link:hover {
    color: mediumspringgreen;
    cursor: progress;
}
/* p {
    display: none;
    background-color: yellow;
    padding: 20px;
}
div:hover + p {
    display: block;
} */
p:first-child {
    color: mediumvioletred;
}